{% extends 'base.html.twig' %}

{% block title %}Create new Student!{% endblock %}

{% block body %}
<div class="container">
<div class="row bg">
    <h1 class="create">Create new Student</h1>
    <div class="container create col-sm-5">
        <form action="{{path('student_store')}}" method="POST">
            <div class="new">
                <label for="student_name">Name:</label> 
                <input type="text" name="student_name" value="{{ student_name }}" id="student_name">
            </div>
            <div class="new">
                <label for="student_surname">Surname:</label> 
                <input type="text" name="student_surname" value="{{ student_surname }}" id="student_surname">
            </div>
            <div class="new">
                <label for="student_email">Email:</label> 
                <input type="text" name="student_email" value="{{ student_email }}" id="student_email">
            </div>
            <div class="new">
                <label for="student_phone">Phone:</label> 
                <input type="text" name="student_phone" value="{{ student_phone }}" id="student_phone">
            </div>
            <button class="submit-btn create" type="submit">Add new Student</button>
            {# <input type="hidden" name="token" value="{{csrf_token('')}}"/> #}
        </form>
    </div>
</div>
</div>
{% endblock %}
