{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
    <h1>Edit Student</h1>
    <div class="container create">
        <form action="{{path('student_update', {id:student.id})}}" method="POST">
            <div class="new">
                <label for="student_name">Name:</label> 
                <input type="text" name="student_name" value="{{student.name}}">
            </div>
            <div class="new">
                <label for="student_surname">Surname:</label> 
                <input type="text" name="student_surname" value="{{student.surname}}">
            </div>
            <div class="new">
                <label for="student_email">Email:</label> 
                <input type="text" name="student_email" value="{{student.email}}">
            </div>
            <div class="new">
                <label for="student_phone">Phone:</label> 
                <input type="text" name="student_phone" value="{{student.phone}}">
            </div>
            <button class="submit-btn create" type="submit">Edit Student</button>
            {# <input type="hidden" name="token" value="{{csrf_token('')}}"/> #}
        </form>
    </div>
{% endblock %}
