{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}

{% block body %}
    <h1>List of Students</h1>
    <div class="hero-bg"></div>
    <div class="menu">
        <a class="nav" href="{{path('grade_index')}}">Grade list</a>
        <a class="nav" href="{{path('grade_create')}}">New Grade</a>
        <a class="nav" href="{{path('lecture_index')}}">Lecture list</a>
        <a class="nav" href="{{path('lecture_create')}}">New Lecture</a>
        <a class="nav checked" href="{{path('student_index')}}">Student list</a>
        <a class="nav" href="{{path('student_create')}}">New Student</a>
    </div>
    <div class="container author">
        <div class="sort">
            <p>List order by:</p> 
            <form action="{{path('student_index')}}" method="GET">
                <select name="sort">
                    <option value="default">Default</option>
                    <option value="name_az" {% if sortBy == 'name_az' %} selected {% endif %}>Name A-Z</option>
                    <option value="name_za" {% if sortBy == 'name_za' %} selected {% endif %}>Name Z-A</option>
                    <option value="surname_az" {% if sortBy == 'surname_az' %} selected {% endif %}>Surname A-Z</option>
                    <option value="surname_za" {% if sortBy == 'surname_za' %} selected {% endif %}>Surname Z-A</option>
                </select>
                <button type="submit">Sort</button>
            </form>
            <a href="{{path('student_index')}}">Clear sort</a>
        </div>
        <ul class="author-list">
            {% for student in students %}
                <div class="authors">
                    <div class="left">
                        <div class="preview author"></div>
                    </div>
                    <div class="right">
                        <div class="title">{{student.name}} {{student.surname}}</div>
                            {# {% for grade in student.grades %}
                                <div class="books">
                                {{grade.lecture.name}} {{grade.grade}}
                                </div>
                            {% endfor %} #}
                        <div class="buttons author">
                            <a class="edit-btn" href="{{path('student_edit', {id: student.id})}}">Edit</a>
                            <form action="{{path('student_delete', {id:student.id})}}" method="POST">
                                <button class="submit-btn" type="submit">Delete</button>
                            </form>
                            <form action="{{path('student_view', {id:student.id})}}" method="POST">
                                <button class="view-btn" type="submit">View grades</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
