{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}

{% block body %}
    <h1>List of Students</h1>
    <div class="hero-bg"></div>
    <div class="menu">
        <a class="nav" href="{{path('grade_index')}}">Grade list</a>
        <a class="nav" href="{{path('grade_create')}}">New Grade</a>
        <a class="nav" href="{{path('lecture_index')}}">Lecture list</a>
        <a class="nav" href="{{path('lecture_create')}}">New Lecture</a>
        <a class="nav checked" href="{{path('student_index')}}">Student list</a>
        <a class="nav" href="{{path('student_create')}}">New Student</a>
    </div>
    <div class="container author">
        <ul class="author-list">
                <div class="authors">
                    <div class="left">
                        <div class="preview author"></div>
                    </div>
                    <div class="right">
                        <div class="title">{{student.name}} {{student.surname}}</div>
                            {% for grade in student.grades %}
                                <div class="books">
                                {{grade.lecture.name}} {{grade.grade}}
                                </div>
                            {% endfor %}
                        <div class="buttons author">
                    </div>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}
