{% extends 'base.html.twig' %}

{% block title %}Create new Grade{% endblock %}

{% block body %}
<div class="container">
<div class="row bg">
    <h1 class="create">Create new Grade</h1>
    <div class="container create col-sm-4">
        <form action="{{path('grade_store')}}" method="POST">
            <div class="new">
                <label for="grades_student">Student:</label>
                <select name="grades_student" id="grades_student">
                    <option value="0">Select student</option>
                    {% for student in students %}
                        <option value="{{student.id}}">{{student.name}} {{student.surname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="new">
                <label for="grades_lecture">Lecture:</label>
                <select name="grades_lecture" id="grades_lecture">
                    <option value="0">Select lecture</option>
                    {% for lecture in lectures %}
                        <option value="{{lecture.id}}">{{lecture.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="new">
                <label for="grade_grade">Grade:</label>
                <input type="text" name="grade_grade" id="grade_grade">
            </div>
            <button class="submit-btn create" type="submit">Add new Grade</button>
            {# <input type="hidden" name="token" value="{{csrf_token('')}}"/> #}
        </form>
    </div>
</div>
</div>
{% endblock %}
