{% extends 'base.html.twig' %}

{% block title %}Create new Grade{% endblock %}

{% block body %}
<div class="container">
<div class="row bg">
    <h1 class="create">Edit Grade</h1>
    <div class="container create col-sm-4">
        <form action="{{path('grade_update', {id: grade.id})}}" method="POST">
            <div class="new">
                <label for="grades_student">Student:</label>
                <select name="grades_student" id="grades_student">
                    {% for student in students %}
                        <option value="{{student.id}}"{% if student.id == grade.studentId %} selected {% endif %}>{{student.name}} {{student.surname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="new">
                <label for="grades_lecture">Lecture:</label>
                <select name="grades_lecture" id="grades_lecture">
                    {% for lecture in lectures %}
                        <option value="{{lecture.id}}"{% if lecture.id == grade.lectureId %} selected {% endif %}>{{lecture.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="new">
                <label for="grade_grade">Grade:</label>
                <input type="text" name="grade_grade" value="{{grade.grade}}" id="grade_grade">
            </div>
            <button class="submit-btn create" type="submit">Edit Grade</button>
            {# <input type="hidden" name="token" value="{{csrf_token('')}}"/> #}
        </form>
    </div>
</div>
</div>
{% endblock %}
